/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #050013;
}

html, body, #root {
  height: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 16px;
}

section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

/* Ingredient List and Burger Stack Styling */
.ingredient-list, .burger-stack {
  flex: 1;
  background-color: #1a1a2e;
  border-radius: 8px;
  padding: 16px;
  max-height: 500px;
  overflow-y: auto;
  
  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
}

.ingredient-list::-webkit-scrollbar,
.burger-stack::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

li {
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 0px 0px 2px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

button {
  cursor: pointer;
  border-radius: 8px;
  background-color: #443b63;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 4px 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: #5a4a7a;
  }
}

/* Ingredient Item Styling */
.ingredient-item {
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.kaiser-bun { background-color: saddlebrown; }
  &.sesame-bun { background-color: sandybrown; }
  &.gluten-free-bun { background-color: peru; }
  &.lettuce-wrap { background-color: olivedrab; }
  &.beef-patty, &.soy-patty, &.black-bean-patty { background-color: #3F250B; }
  &.chicken-patty { background-color: burlywood; }
  &.lettuce { background-color: lawngreen; }
  &.tomato { background-color: tomato; }
  &.bacon { background-color: maroon; }
  &.onion { background-color: lightyellow; }
  &.cheddar-cheese { background-color: #FDE18B; }
  &.swiss-cheese { background-color: #F1E1A8; }
}
